@tailwind base;
@tailwind components;
@tailwind utilities;

.class {
  background:
    linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.727)),
    url("assets/1789405699966.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.helo{
    font-weight: 900;
}
.width{
    width: 50%;
    margin-left: 20px;
}
.book{
  background-color: red;
}
.font{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon{
  background-color: rgb(191, 44, 44);
}
.wine{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.span{
  color: rgb(191, 44, 44);
}